body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #FFFCBF;
  padding: 10px;
}

.h1{
  color: darkorange;
  margin-top: 5px;
  margin-bottom: 5px;
}

.h2{
  font-size: 18px;
  margin-top: 5px;
}

.game-container {
  display: flex; /* 横並びに配置 */
  justify-content: center;
  align-items: center;
  gap: 20px; /* 画像とスロットマシンの間隔 */
  margin-bottom: 20px;
}

.slot-machine {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.slot {
  width: 100px;
  height: 346px;
  border: 2px solid #333;
  margin: 0 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-image 0.2s ease-in-out;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 5px;
}

#result {
  font-size: 24px;
  margin-top: 5px;
}


